.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .Backdrop {
    z-index: 10;
  }
}
