.header__date {
  background-color: #0c3351;
  width: 100vw;
  padding: 1.1rem;
}

.datePicker {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.datePicker__arrow {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  color: #c5cdcd;
  cursor: pointer;
  user-select: none;
}

.datePicker__dateNow {
  width: 50px;
  height: 43px;
  background-color: #fc842c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  margin: 0 1.6rem;
  user-select: none;
}

.datePicker__dateNow__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateNow__month {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.5rem;
}

.dateNow__day {
  font-size: 2rem;
  line-height: 1rem;
}

.arrow__next {
  transform: rotate(180deg);
}

.arrow__prev,
.arrow__next {
  width: 2rem;
  height: 2rem;
  fill: #c5cdcd;
  margin: 0 0.5rem;
}

/* Transitions */
.datePicker__arrow,
.arrow__prev,
.arrow__next {
  transition-duration: 0.3s;
}

.datePicker__arrow:hover {
  color: #f6e;
}

.datePicker__arrow:hover .arrow__prev,
.datePicker__arrow:hover .arrow__next {
  fill: #f6e;
}

.today {
  outline: none;
  border: none;
  margin-top: 4px;
  flex: 0 0 auto;
  font-size: 10px;
  line-height: 14px;
  width: 50px;
  text-align: center;
  color: #fff;
  background-color: #fc842c;
  cursor: pointer;
}

.today:hover {
  box-shadow: 2px 2px 1px #0c335160;
}

@media only screen and (min-width: 768px) {
  .header__date {
    padding: 0;
    background-color: transparent;
    width: 25rem;
  }
}

@media only screen and (min-width: 969px) {
  .header__date {
    width: 30rem;
  }
}
